name: Application CI/CD
on:
  # enable manual trigger via button in GitHub actions
  workflow_dispatch:
  # enable auto trigger based on path and branch
  push:
    # for main branch
    branches:
      - main
    # if something has changed under this directory
    paths:
      - "app/**"
jobs:
  app-lifecycle:
    runs-on: ubuntu-latest
    steps:
      - name: checkout master
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - name: Test Go app
        working-directory: ./app
        run: make tools && make vet && make lint make test
      - name: Build Go app
        working-directory: ./app
        run: make build
      - name: Upload Go app artifact
        uses: actions/upload-artifact@v2
        with:
          name: app
          path: ./app/app-build-$GITHUB_RUN_ID
