name: Application CI/CD
on:
  # enable manual trigger via button in GitHub actions
  workflow_dispatch:
  # enable auto trigger based on path and branch
  push:
    # for main branch
    branches:
      - main
    # if something has changed under this directory
    paths:
      - 'app/**'
jobs:
  build:
    name: Test Build Dockerize
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - name: Lint
        uses: golangci/golangci-lint-action@v2
        with:
          working-directory: ./app
      - name: Test
        run: make tools && make vet && make test
        working-directory: ./app
      - name: Build
        run: make build
        working-directory: ./app
      - name: Docker Lint
        uses: hadolint/hadolint-action@v1.5.0
        with:
          dockerfile: ./app/Dockerfile
