name: Infra AWS CI/CD
on:
  # enable manual trigger via button in GitHub actions
  workflow_dispatch:
  # enable auto trigger based on path and branch
  push:
    # for main branch
    branches:
      - main
    # if something has changed under this directory
    paths:
      - 'infrastructure/aws/**'
jobs:
  compile:
    name: Compile infra
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Set up Kapitan
        run: pip3 install --user --upgrade kapitan
      - name: Kapitan compile
        run: kapitan compile
      - uses: actions/upload-artifact@master
        with:
          name: compiled
          path: ./compiled
  test:
    name: Test infra
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v2
      - uses: actions/download-artifact@master
        with:
          name: compiled
          path: ./compiled
      - name: Get conftest
        run: curl -flLO https://github.com/open-policy-agent/conftest/releases/download/v0.25.0/conftest_0.25.0_Linux_x86_64.tar.gz && tar xzf conftest_0.25.0_Linux_x86_64.tar.gz && sudo mv conftest /usr/local/bin
      - name: Test infastructure
        run: conftest test ../compiled/example/terraform
        working-directory: ./infrastructure
